.section {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    color: #222;
}

.grid {
    display: grid;
    gap: 30px;
    /* Адаптивная сетка */
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
