@import "modern-normalize";

body {
    font-family: var(--font-roboto), sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}
:root {
    font-family: var(--font-roboto), sans-serif;
}

/* Container - Mobile First Approach */
.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 64px;
    }
}
